USE [master]
GO
/****** Object:  Database [QuanLiPhongKaraoke]    Script Date: 13/05/2021 22:00:34 ******/
CREATE DATABASE [QuanLiPhongKaraoke]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiPhongKaraoke', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLiPhongKaraoke.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLiPhongKaraoke_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLiPhongKaraoke_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiPhongKaraoke].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiPhongKaraoke]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign2]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign2]
(
 @strInput NVARCHAR(4000)
) 
RETURNS NVARCHAR(4000)
AS
Begin
 Set @strInput=rtrim(ltrim(lower(@strInput)))
 IF @strInput IS NULL RETURN @strInput
 IF @strInput = '' RETURN @strInput
 Declare @text nvarchar(50), @i int
 Set @text='-''`~!@#$%^&*()?><:|}{,./\"''='';–'
 Select @i= PATINDEX('%['+@text+']%',@strInput ) 
 while @i > 0
 begin
 set @strInput = replace(@strInput, substring(@strInput, @i, 1), '')
 set @i = patindex('%['+@text+']%', @strInput)
 End
 Set @strInput =replace(@strInput,' ',' ')
 
 DECLARE @RT NVARCHAR(4000)
 DECLARE @SIGN_CHARS NCHAR(136)
 DECLARE @UNSIGN_CHARS NCHAR (136)
 SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế
 ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý'
 +NCHAR(272)+ NCHAR(208)
 SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee
 iiiiiooooooooooooooouuuuuuuuuuyyyyy'
 DECLARE @COUNTER int
 DECLARE @COUNTER1 int
 SET @COUNTER = 1
 WHILE (@COUNTER <=LEN(@strInput))
 BEGIN 
 SET @COUNTER1 = 1
 WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1)
 BEGIN
 IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) 
 = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) )
 BEGIN 
 IF @COUNTER=1
 SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) 
 + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) 
 ELSE
 SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) 
 +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) 
 + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER)
 BREAK
 END
 SET @COUNTER1 = @COUNTER1 +1
 END
 SET @COUNTER = @COUNTER +1
 End
 SET @strInput = replace(@strInput,' ','-')
 RETURN lower(@strInput)
End
GO
/****** Object:  Table [dbo].[Account]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](100) NOT NULL,
	[Displayname] [nvarchar](100) NOT NULL DEFAULT (N'Có tên không mà sao không đặt'),
	[PassWord] [nvarchar](1000) NOT NULL DEFAULT ((0)),
	[type] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bill]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateTimeCheckIn] [datetime] NOT NULL DEFAULT (getdate()),
	[DateTimeCheckOut] [datetime] NULL,
	[idRoom] [int] NOT NULL,
	[status] [int] NOT NULL DEFAULT ((0)),
	[DisCount] [int] NULL,
	[ToTalTime] [nvarchar](100) NULL,
	[PRiceOldTime] [float] NULL DEFAULT ((0)),
	[totalPrice] [float] NULL,
	[CheckSwitch] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BillInfo]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idService] [int] NOT NULL,
	[countService] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PositionType]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NamePosition] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL DEFAULT (N'Chưa đặt tên'),
	[idRoomCategory] [int] NOT NULL,
	[status] [nvarchar](100) NOT NULL DEFAULT (N' Trống'),
	[RoomInformation] [nvarchar](1000) NOT NULL DEFAULT (N'Trống'),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomCategory]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNameCategory] [nvarchar](100) NOT NULL DEFAULT (N'Chưa đặt tên'),
	[Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL DEFAULT (N'Chưa đặt tên'),
	[idServiceCategory] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL DEFAULT (N'Chưa đặt tên'),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([UserName], [Displayname], [PassWord], [type]) VALUES (N'hoangtrung', N'Phan Trung ', N'/np3PhX7Fao=', 1)
INSERT [dbo].[Account] ([UserName], [Displayname], [PassWord], [type]) VALUES (N'thanh', N'Thanh', N'/np3PhX7Fao=', 3)
INSERT [dbo].[Account] ([UserName], [Displayname], [PassWord], [type]) VALUES (N'thanh1', N'Thanh1', N'/np3PhX7Fao=', 1)
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([id], [DateTimeCheckIn], [DateTimeCheckOut], [idRoom], [status], [DisCount], [ToTalTime], [PRiceOldTime], [totalPrice], [CheckSwitch]) VALUES (1286, CAST(N'2021-04-09 21:23:09.130' AS DateTime), CAST(N'2021-04-09 21:24:37.810' AS DateTime), 2, 1, 0, N'0 tiếng 1 phút', 0, 301000, 0)
INSERT [dbo].[Bill] ([id], [DateTimeCheckIn], [DateTimeCheckOut], [idRoom], [status], [DisCount], [ToTalTime], [PRiceOldTime], [totalPrice], [CheckSwitch]) VALUES (1287, CAST(N'2021-04-09 21:28:30.027' AS DateTime), CAST(N'2021-04-09 21:28:41.837' AS DateTime), 4, 1, 0, N'0 tiếng 0 phút', 0, 315000, 0)
INSERT [dbo].[Bill] ([id], [DateTimeCheckIn], [DateTimeCheckOut], [idRoom], [status], [DisCount], [ToTalTime], [PRiceOldTime], [totalPrice], [CheckSwitch]) VALUES (1288, CAST(N'2021-04-09 21:31:16.660' AS DateTime), CAST(N'2021-04-09 21:31:31.610' AS DateTime), 3, 1, 0, N'0 tiếng 0 phút', 0, 245000, 0)
SET IDENTITY_INSERT [dbo].[Bill] OFF
SET IDENTITY_INSERT [dbo].[BillInfo] ON 

INSERT [dbo].[BillInfo] ([id], [idBill], [idService], [countService]) VALUES (1269, 1286, 38, 3)
INSERT [dbo].[BillInfo] ([id], [idBill], [idService], [countService]) VALUES (1271, 1287, 38, 3)
INSERT [dbo].[BillInfo] ([id], [idBill], [idService], [countService]) VALUES (1272, 1287, 30, 2)
SET IDENTITY_INSERT [dbo].[BillInfo] OFF
SET IDENTITY_INSERT [dbo].[PositionType] ON 

INSERT [dbo].[PositionType] ([id], [NamePosition]) VALUES (1, N'Nhân viên')
INSERT [dbo].[PositionType] ([id], [NamePosition]) VALUES (2, N'Quản lí dịch vụ')
INSERT [dbo].[PositionType] ([id], [NamePosition]) VALUES (3, N'Quản lí Phòng')
SET IDENTITY_INSERT [dbo].[PositionType] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([id], [name], [idRoomCategory], [status], [RoomInformation]) VALUES (1, N'Phòng 101', 1, N' Trống', N'phòng có 2 mic, 1 tivi, 2 thùng lớn , 3 ghế ,2 bàn,...')
INSERT [dbo].[Room] ([id], [name], [idRoomCategory], [status], [RoomInformation]) VALUES (2, N'Phòng 102', 1, N' Trống', N'Trống')
INSERT [dbo].[Room] ([id], [name], [idRoomCategory], [status], [RoomInformation]) VALUES (3, N'Phòng 103', 1, N' Trống', N'Trống')
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[RoomCategory] ON 

INSERT [dbo].[RoomCategory] ([id], [RoomNameCategory], [Price]) VALUES (1, N'Phòng Thường', 60000)
INSERT [dbo].[RoomCategory] ([id], [RoomNameCategory], [Price]) VALUES (2, N'Phòng VIP', 120000)
SET IDENTITY_INSERT [dbo].[RoomCategory] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([id], [name], [idServiceCategory], [price]) VALUES (29, N'Sườn nướng', 11, 200000)
INSERT [dbo].[Service] ([id], [name], [idServiceCategory], [price]) VALUES (30, N'7 Up', 13, 15000)
INSERT [dbo].[Service] ([id], [name], [idServiceCategory], [price]) VALUES (31, N'Sting', 12, 15000)
SET IDENTITY_INSERT [dbo].[Service] OFF
SET IDENTITY_INSERT [dbo].[ServiceCategory] ON 

INSERT [dbo].[ServiceCategory] ([id], [name]) VALUES (11, N'Thêm Món ăn')
INSERT [dbo].[ServiceCategory] ([id], [name]) VALUES (12, N'Thêm nước uống')
INSERT [dbo].[ServiceCategory] ([id], [name]) VALUES (13, N'Thêm Bia')
SET IDENTITY_INSERT [dbo].[ServiceCategory] OFF
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([idRoom])
REFERENCES [dbo].[Room] ([id])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[BillInfo]  WITH CHECK ADD FOREIGN KEY([idService])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([idRoomCategory])
REFERENCES [dbo].[RoomCategory] ([id])
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD FOREIGN KEY([idServiceCategory])
REFERENCES [dbo].[ServiceCategory] ([id])
GO
/****** Object:  StoredProcedure [dbo].[USP_GetBillInfoByRoom]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_GetBillInfoByRoom]
@idBill int
as
begin
SELECT  r.name ,b.totalPrice , b.DateTimeCheckOut ,b.DateTimeCheckIn ,b.DisCount, bi.countService, se.price, se.price*bi.countService as [Price] , se.name,CONCAT((DATEDIFF(MINUTE, b.DateTimeCheckIn, GETDATE())/60),N' tiếng ' ,(DATEDIFF(MINUTE, b.DateTimeCheckIn, GETDATE())%60),' phút') AS [Time],((DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)/60)*rc.Price+(DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)%60)*rc.Price/60) AS [TimePrice], b.PRiceOldTime,((DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)/60)*rc.Price+(DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)%60)*rc.Price/60)+b.PRiceOldTime [TotalTimePrice]
FROM dbo.Bill AS b,dbo.Room AS r ,dbo.Service as se, dbo.BillInfo as bi, RoomCategory as rc
WHERE  b.status = 1 AND b.CheckSwitch=0 AND bi.idBill=b.id and bi.idService =se.id and b.idRoom=r.id and b.id=@idBill and rc.id=r.idRoomCategory
end

GO
/****** Object:  StoredProcedure [dbo].[USP_GetDateCurrent]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetDateCurrent]
@checkIn datetime,@checkOut datetime 
AS
BEGIN

SELECT @checkIn,@checkOut 
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDate]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDate]
@checkIn datetime,@checkOut datetime 
AS
BEGIN

SELECT r.name AS[tên phòng],b.totalPrice AS [Tổng tiền], b.DateTimeCheckIn [Ngày/Giờ vào],b.DateTimeCheckOut AS[Ngày/Giờ ra],b.DisCount AS [Giảm giá] 
FROM dbo.Bill AS b,dbo.Room AS r 
WHERE b.DateTimeCheckIn>=@checkIn AND b.DateTimeCheckOut<=@checkOut AND b.status = 1 AND b.CheckSwitch=0 AND r.id=b.idRoom 
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDateAndPage]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDateAndPage]
@checkIn datetime,@checkOut DATETIME, @page INT
AS
BEGIN
	DECLARE @pageRows INT =10
	DECLARE @selectRows INT =@pageRows
	DECLARE @exceptRows INT =(@page-1)*@pageRows


	;WITH billShow AS( SELECT b.id, r.name AS[tên phòng],b.totalPrice AS [Tổng tiền], b.DateTimeCheckOut [Ngày/Giờ vào],b.DateTimeCheckIn AS[Ngày/Giờ ra],b.DisCount AS [Giảm giá] 
	FROM dbo.Bill AS b,dbo.Room AS r 
	WHERE b.DateTimeCheckIn>=@checkIn AND b.DateTimeCheckOut<=@checkOut AND b.status = 1 AND b.CheckSwitch=0 AND r.id=b.idRoom )

	SELECT TOP (@selectRows) *FROM billShow WHERE id NOT IN(SELECT TOP(@exceptRows)  id FROM billShow)
	
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDateForReport]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDateForReport]
@checkIn datetime,@checkOut datetime,@Service nvarchar (1000)  
AS
BEGIN


SELECT DISTINCT
         @service as[servicename],@checkIn,@checkOut,b.id,r.name ,b.totalPrice , b.DateTimeCheckOut ,b.DateTimeCheckIn ,b.DisCount,((DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)/60)*rc.Price+(DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)%60)*rc.Price/60) AS [TimePrice],b.PRiceOldTime,((DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)/60)*rc.Price+(DATEDIFF(MINUTE, b.DateTimeCheckIn, b.DateTimeCheckOut)%60)*rc.Price/60)+b.PRiceOldTime [TotalTimePrice],
        (   SELECT concat(se.name, N' (Số lượng: ',bi.countService,') ') +', ' AS [text()]
            FROM BillInfo as bi , Service as se
            WHERE bi.idBill = b.id and bi.idService=se.id 
            ORDER BY bi.idBill
            FOR XML PATH(''))[Service]
FROM Bill as b, Room as r, BillInfo as bi,RoomCategory as rc,Service as se
where b.DateTimeCheckIn>=@checkIn AND b.DateTimeCheckOut<=@checkOut AND b.status = 1 AND b.CheckSwitch=0 AND b.id=bi.idBill and r.id=b.idRoom and r.idRoomCategory=rc.id  and se.id=bi.idService and dbo.fuConvertToUnsign2(se.name) LIKE N'%' +dbo.fuConvertToUnsign2(@Service)+'%'
end

GO
/****** Object:  StoredProcedure [dbo].[USP_GetListPriceOldTime]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListPriceOldTime]
@IDRoom1 INT, @IDRoom2 int
AS
BEGIN
	DECLARE @idFirstBill INT
	DECLARE @idSeconrdBill INT 

	SELECT @idSeconrdBill=id FROM dbo.Bill WHERE idRoom=@IDRoom2 AND status=0
	SELECT @idFirstBill=id FROM dbo.Bill WHERE idRoom=@IDRoom1 AND status=0
DECLARE @PriceOld FLOAT
SELECT @PriceOld=((DATEDIFF(MINUTE, b.DateTimeCheckIn, GETDATE())/60)*rc.Price+(DATEDIFF(MINUTE, b.DateTimeCheckIn, GETDATE())%60)*rc.Price/60) FROM dbo.Bill AS b,dbo.Room AS r,dbo.RoomCategory AS rc WHERE b.idRoom=r.id AND r.idRoomCategory=rc.id and b.status=0 AND CheckSwitch=0  and  b.idRoom=@IDRoom1
PRINT @PriceOld
PRINT @IDRoom2
PRINT '--------'
UPDATE dbo.Bill SET CheckSwitch=1,status=1 WHERE idRoom=@IDRoom1 AND id=@idFirstBill
DECLARE @totalPrice FLOAT
SELECT @totalPrice=@PriceOld+PRiceOldTime FROM dbo.Bill WHERE idRoom =@IDRoom1
UPDATE dbo.Bill SET PRiceOldTime=@totalPrice WHERE idRoom=@IDRoom2  AND id=@idSeconrdBill

PRINT @PriceOld
PRINT '--------'
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetNumBillByDate]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[USP_GetNumBillByDate]
@checkIn datetime,@checkOut datetime 
AS
BEGIN

SELECT COUNT(*)
FROM dbo.Bill AS b,dbo.Room AS r 
WHERE b.DateTimeCheckIn>=@checkIn AND b.DateTimeCheckOut<=@checkOut AND b.status = 1 AND b.CheckSwitch=0 AND r.id=b.idRoom 
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetRoomByDateAndID]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetRoomByDateAndID]
@checkIn datetime,@checkOut datetime,@RoomName nvarchar(100)
AS
BEGIN

SELECT @checkIn,@checkOut,r.id,r.name,rc.RoomNameCategory,r.RoomInformation,Concat(Sum((DATEDIFF(MINUTE, b.DateTimeCheckIn,b.DateTimeCheckOut)))/60,N' Giờ ',Sum((DATEDIFF(MINUTE, b.DateTimeCheckIn,b.DateTimeCheckOut)))%60,N' Phút') as totalTime , concat(Sum(b.totalPrice),N'VNĐ') as totalPrice
FROM dbo.Bill AS b,dbo.Room AS r ,dbo.RoomCategory as rc
WHERE b.DateTimeCheckIn>=@checkIn AND b.DateTimeCheckOut<=@checkOut AND b.status = 1 
AND b.CheckSwitch=0 AND r.id=b.idRoom and r.idRoomCategory=rc.id and r.name=@RoomName group by r.id,r.name,rc.RoomNameCategory,r.RoomInformation
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetRoomList]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetRoomList]
AS SELECT *FROM dbo.Room

GO
/****** Object:  StoredProcedure [dbo].[USP_InserBill]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InserBill]
@idRoom Int
AS
BEGIN
	INSERT INTO dbo.Bill
	(
	    DateTimeCheckIn,
	    DateTimeCheckOut,
	    idRoom,
	    status,
		DisCount,
		ToTalTime
	)
	VALUES
	(   GETDATE(), -- DateTimeCheckIn - datetime
	    null, -- DateTimeCheckOut - datetime
	    @idRoom,         -- idRoom - int
	    0,
		0,
		N'0 giờ 0 phút'          -- status - int
	    )

		
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InserStartBill]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InserStartBill]
@idRoom Int
AS
BEGIN
	INSERT INTO dbo.Bill
	(
	    DateTimeCheckIn,
	    DateTimeCheckOut,
	    idRoom,
	    status,
		DisCount,
		ToTalTime
	)
	VALUES
	(   GETDATE(), -- DateTimeCheckIn - datetime
	    null, -- DateTimeCheckOut - datetime
	    @idRoom,         -- idRoom - int
	    0,
		0,
		N'0 giờ 0 phút'          -- status - int
	    )
		UPDATE dbo.Room SET status=N'Có Người' WHERE id=@idRoom
		
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC	[dbo].[USP_InsertBillInfo]
@idBill INT, @idService INT,@count INT,@idRoom INT
AS
BEGIN

	DECLARE @isExitsBillInfo INT
	DECLARE @ServiceCount INT=1
	SELECT @isExitsBillInfo=id ,@ServiceCount=countService FROM dbo.BillInfo WHERE idBill=@idBill AND idService=@idService 

	IF(@isExitsBillInfo>0)
	BEGIN
		DECLARE @newCountService INT=@ServiceCount+@count
		IF(@newCountService>0)
			UPDATE dbo.BillInfo SET countService=@ServiceCount+@count WHERE idService=@idService
		ELSE
			DELETE dbo.BillInfo WHERE idBill=@idBill AND idService=@idService

		
    END
	ELSE
	BEGIN
	INSERT INTO dbo.BillInfo
	(
	    idBill,
	    idService,
	    countService
	)
	VALUES
	(   @idBill, -- idBill - int
	    @idService, -- idFood - int
	    @count
		
	    )
    END
	UPDATE dbo.Bill SET CheckSwitch=0 WHERE idRoom=@idRoom
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Login]
@userName NVARCHAR(100),@passWord nvarchar(100)
AS
BEGIN
	SELECT *FROM dbo.Account WHERE UserName=@userName AND PassWord=@passWord
END

GO
/****** Object:  StoredProcedure [dbo].[USP_SwitchTable]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[USP_SwitchTable]
@idTable1 int, @idTable2 int
AS
BEGIN
	DECLARE @idFirstBill INT
	DECLARE @idSeconrdBill INT 

	DECLARE @isFirstRoomEmty INT =1
	DECLARE @isSecondRoomEmty INT =1

	SELECT @idSeconrdBill=id FROM dbo.Bill WHERE idRoom=@idTable2 AND status=0

	SELECT @idFirstBill=id FROM dbo.Bill WHERE idRoom=@idTable1 AND status=0

	PRINT @idFirstBill
	PRINT @idSeconrdBill
	PRINT '-------------'

	IF(@idFirstBill is NULL)
	BEGIN
		INSERT INTO dbo.Bill
		(
		    DateTimeCheckIn,
		    DateTimeCheckOut,
		    idRoom,
		    status
			
		)
		VALUES
		(   GETDATE(), -- DateTimeCheckIn - datetime
		    NULL, -- DateTimeCheckOut - datetime
		    @idTable1,         -- idRoom - int
		    0
			         -- status - int
		    )
			SELECT @idFirstBill= MAX(id) FROM dbo.Bill WHERE idRoom=@idTable1 AND status=0

	END
	SELECT @isFirstRoomEmty=COUNT(*) FROM dbo.BillInfo WHERE idBill=@idFirstBill

	IF(@idSeconrdBill is NULL)
	BEGIN
		INSERT INTO dbo.Bill
		(
		    DateTimeCheckIn,
		    DateTimeCheckOut,
		    idRoom,
		    status
			
			
		)
		VALUES
		(   GETDATE(), -- DateTimeCheckIn - datetime
		    NULL, -- DateTimeCheckOut - datetime
		    @idTable2,         -- idRoom - int
		    0
			        -- status - int
		    )
			SELECT @idSeconrdBill= MAX(id) FROM dbo.Bill WHERE idRoom=@idTable2 AND status=0
			
			
	END

	SELECT @isSecondRoomEmty=COUNT(*) FROM dbo.BillInfo WHERE idBill=@idSeconrdBill

	SELECT id INTO IDBillInfoTable FROM dbo.BillInfo WHERE idBill=@idSeconrdBill

	UPDATE dbo.BillInfo SET idBill= @idSeconrdBill WHERE idBill = @idFirstBill

	UPDATE dbo.BillInfo SET idBill=@idFirstBill WHERE id IN (SELECT *FROM dbo.idBillInfoTable)
    
	
	DROP TABLE idBillInfoTable
	IF(@isFirstRoomEmty=0)
		UPDATE dbo.Room SET status=N' Trống' WHERE id=@idTable2
	IF(@isSecondRoomEmty=0)
		UPDATE dbo.Room SET status=N' Trống' WHERE id=@idTable1
	UPDATE dbo.Room SET status=N'Có người' WHERE id=@idTable2
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccount]    Script Date: 13/05/2021 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateAccount]
@userName Nvarchar(100),@DisPlayName Nvarchar(100),@passWord nvarchar(100), @NewpassWord nvarchar(100)
AS 
BEGIN
	DECLARE @isRightPass INT=0

	SELECT @isRightPass=COUNT(*) FROM dbo.Account WHERE UserName=@userName AND PassWord=@passWord
    
	IF(@isRightPass=1)
	BEGIN

		IF(@NewpassWord=NULL OR @NewpassWord='')
		BEGIN
				UPDATE dbo.Account SET Displayname=@DisPlayName WHERE UserName=@userName
		END
		ELSE
				UPDATE dbo.Account SET Displayname=@DisPlayName,PassWord=@NewpassWord WHERE UserName=@userName
	END


END

GO
USE [master]
GO
